:root {
    --light-bg: white;
    --red-accent: #770500;
    --blue-accent: #2500F0;
    --dark-bg: #000133;
    --color-lines: #310100;
    --gradient: linear-gradient(90deg, rgba(37,0,240,1) 0%, rgba(49,1,0,1) 100%);
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    color: var(--tertiary-color);
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
  padding: 10px 10px 10px 0px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* position: sticky;
  position: -webkit-sticky; */
  top: 0;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: 80%;
  z-index: 9999;
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--light-bg);
    text-shadow: 0 0 10px rgba(37,0,240, 2);
}
header nav ul {
display: flex;
flex-wrap: wrap;
align-items: center;
list-style: none;
padding: 30px 20px;
font-size: 25px;
}

header nav ul li a {
    padding: 20px;
}

header a {
    text-decoration: none;
    color: var(--light-bg);
}

.name-box {
    display: flex;
    background-color: var(--color-lines);
    border-radius: 15px;
    padding: 10px;
    padding-left: 50px;
    justify-content: right;
    align-items: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.hero-decor {
    background-image: url('../images/herolightbulb.jpg');
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: relative;
    background-position: 80%;
}

.hero-decor div {
    display: flex;
    flex-direction: row-reverse;
    color: var(--light-bg);
    width: 100%;
    height: 300px;
    align-items: flex-end;
}

.hero-decor h2 {
    justify-content: center;
}
#page-info {
    background: rgb(255,255,255);
    background: linear-gradient(162deg, rgba(255,255,255,1) 0%, rgba(193,193,193,1) 100%);
}

#about-me {
    display: flex;
    align-items: center;

}
.profile {
    display: flex;
    margin: 20px;
}
#about-me div p{
    display: flex;
    align-items: center;
    margin: 10px;
}

#about-me div img {
    height: 25vw;
    width: auto;
    border-radius: 50%;
    border: 3px solid black;
}
.sidebar-title {
    display: flex;
    justify-content: right;
    flex-direction: row;
    font-size: 30px;
    width: 30vw;
    border-right: 2px solid;
    color: var(--red-accent)  
}

.sidebar-title h3 {
    display: flex;
    width: 400px;
    flex-direction: row-reverse;
    margin: 10px;
}
/* .sidebar-title h3 {
    justify-content: right;
} */

#work {
    display: flex;
    padding-top: 20px;
}
.project-style {
    height: 100px; 
    width: 300px;
}

.feature-style {
    height: 25vw;
    width: auto;
    border-radius: 15px;
    border: 4px solid var(--red-accent);
}
#work {
    display: flex;
    justify-content: center;
}
.work-projects {
    /* display: block; */
    margin: 20px auto;
    justify-content: center;
}
.other-projects {
    display: inline;
    width: 400px;
    
}

.left-column img, .right-column img {
    display: inline-block;
    height: 11vw;
    width: 32.5vw;
    /* padding: 10px; */
    justify-content: center;
    border-radius: 15px;
    border: 4px solid var(--red-accent);
}
#contact {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.contact-links ul li {
    display: inline;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
    margin: 10px;

}
.contact-links a {
    text-decoration: none;
}